<h1>Director # <%= @the_director.id %> details</h1>

<a href="/directors">Go back</a>

<dl>
  <dt>Name</dt>
  <dd> <%= @the_director.name %></dd>

  <dt>Name</dt>
  <dd> <%= @the_director.name %></dd>


  <dt>Name</dt>
  <dd> <%= @the_director.name %></dd>

    <dt>Name</dt>
  <dd> <%= @the_director.name %></dd>
  
  </dl>

<%= @the_director.dob %>
